<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css/' %}">
</head>
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
    </style>
<body>
<div class="card bg-dark text-white">
    <img src="https://static.hdrezka.ac/i/2022/1/26/c978450c0b84fdg61m53v.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">описание добавлю позже</p>
    </div>
</div>

    <h2>Actors:</h2>

<div class="card">
  <img src="/media/img_avatar.png" alt="" style="width:100%">
  <div class="container">
    <h4><b>actor name</b></h4> 
    <p>Позже запарсю актеров</p> 
  </div>
</div>
</body>
</html>