<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css/' %}">
</head>
<style>
    body {
        height: 100vh;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }
    .card {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 20px;
        border-radius: 130px;
    }
</style>
<body>
    {% for i in object_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Your accounts:</h5>
          <p class="card-text">{{ i.username }}</p>
        </div>
      </div>
    {% endfor %}
</body>
</html>